 <!-- About Section -->
    <section class="success" id="education">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Education</h2>
                  <hr class="star-light">
              </div>
          </div>
          <div class="row">
              <div class="col-lg-5 col-lg-offset-1">
                <div class="panel panel-default">
                  <div class="panel-body">
                    Full Stack Web Developement Bootcamp<br>
                    <i>Viking Code School (2017)</i>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-body">
                    IOS Mobile Application Development Bootcamp<br>
                    <i>Codepath, Yahoo HQ, Sunnyvale (2014)</i>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-lg-offset-1">
                <div class="panel panel-default">
                  <div class="panel-body">
                    Masters in Telecommunications and Networking<br>
                    <i>University of Pittsburgh, Pennsylvania (2010)</i>
                  </div>
                </div>
              </div>
              <div class="col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-body">
                    Bachelors in Electonics and Communication Engineering<br>
                    <i>VIT University, India (2008)</i>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </section>